@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Gym Application is managed and a product development of Vision-Dream ICT Solutions. All rights reserved.</p>
