@page
@model GymAPI.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<p>
    Gym Application API is developed and powered by Vision-Dream, Inc.
    To find out more about the development organization, click here:
    <a href="http://vision-dream.local" target="_blank">Vision-Dream ICT Solutions</a>.
</p>
