@page
@model GymAPI.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    10011 Phakathi Street<br />
    Dobsonville Expensive 3<br />
    1863<br />
    <abbr title="Phone">P:</abbr>
    +27(0)72 687-0991
</address>
<address>
    <strong>Support: </strong><a href="mailto:Support@gymapp.vision-dream.local">Support@gymapp.vision-dream.local</a><br />
    <strong>Marketing: </strong><a href="mailto:Marketing@gymapp.vision-dream.local">Marketing@gymapp.vision-dream.local</a>
</address>
